@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');

.navbar-container {
  justify-content: space-between;
}

.pipeline-agenda-link {
  font-family: "Pacifico";
  font-weight: bold;
  font-size: 24px;
}

.logo__pipeline {
  color: gray;
}

td {
  border: 0;
}

.contacts-search {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 24px;
}

.table__input-search {
  width: 50%;
  padding: 4px;
  margin-right: 15px;
}

.table__search-button {
  background-color: transparent;
  color: white;
  padding: 6px 12px;
  border-radius: 10px;
  border: 1px solid white;
}

.table__search-button:hover {
  transition: 150ms ease-in-out;
  background-color: white;
  color: black;
}

.table__edit-button {
  background-color: transparent;
  color: white;
  padding: 6px 14px;
  border-radius: 10px;
  border: 1px solid green;

  a {
    text-decoration: none;
    color: green;
  }

  a:hover {
    color: white;
  }
}

.table__edit-button:hover {
  transition: 150ms ease-in-out;
  background-color: green;
}

.table__delete-button {
  background-color: transparent;
  color: white;
  padding: 6px 12px;
  border-radius: 10px;
  border: 1px solid red;

  a {
    text-decoration: none;
    color: red;
  }

  a:hover {
    color: white;
  }
  
}

.table__delete-button:hover {
  transition: 150ms ease-in-out;
  background: red;
  color: white;
}

.form-container {
  padding-inline: 18px;
}

.errors {
  padding: 8px;
  border-radius: 15px;
  display: none;
  background-color: rgb(230, 127, 127);
  color: white;
  border: 2px solid rgb(145, 9, 9);
}