@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');

button {
  font-weight: bold;
  font-size: 15px;
}

.navbar-container {
  justify-content: space-between;
}

.pipeline-agenda-link {
  font-family: "Pacifico";
  font-weight: bold;
  font-size: 24px;
}

.logo__pipeline {
  color: gray;
}

.pipeline-navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

td {
  border: 0;
}

.add-contact-btn {
  border: 0;
  background-color: green;
  margin-top: 10px;
  padding: 6px 16px;
  border-radius: 5px;
  color: white;
}

.add-contact-btn:active {
  background-color: rgb(4, 83, 4);
}

.edit-photo-btn {
  display: flex;
  align-items: center;
  gap: 7px;
}

.contacts-header {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.contacts-search {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 24px;
}

.contacts-table {
  display: flex;
  align-items: center;
  
}

.table__input-search {
  width: 50%;
  padding: 4px;
  margin-right: 15px;
}

.table__search-button {
  background-color: transparent;
  color: white;
  padding: 6px 12px;
  border-radius: 10px;
  border: 1px solid white;
}

.table__search-button:hover {
  transition: 150ms ease-in-out;
  background-color: white;
  color: black;
}

.table__edit-button {
  background-color: transparent;
  color: green;
  padding: 6px 14px;
  border-radius: 10px;
  border: 1px solid green;

  a {
    text-decoration: none;
    color: unset;
  }
}

.table__edit-button:hover {
  transition: 150ms ease-in-out;
  background-color: green;
  color: white
}

.table__edit-button:active {
  background-color: rgb(7, 31, 7);
}

.table__delete-button {
  background-color: transparent;
  color: red;
  padding: 6px 12px;
  border-radius: 10px;
  border: 1px solid red;

  a {
    text-decoration: none;
    color: unset;
  }
  
}

.table__delete-button:active {
  background-color: rgb(82, 7, 7);
}

.table__delete-button:hover {
  transition: 150ms ease-in-out;
  background: red;
  color: white;
}

.form-container {
  padding-inline: 18px;
}

.errors {
  padding: 8px;
  border-radius: 15px;
  display: none;
  background-color: rgb(230, 127, 127);
  color: white;
  border: 2px solid rgb(145, 9, 9);
}